In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import os
from itertools import combinations
from tqdm import tqdm
os.chdir('D:\Shashi Katteri\Desktop\data sets to work on\Amazon Employee Access\Dataset_10')

In [2]:
df=pd.read_csv('Amazon_employee_access.csv')
df.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,target
0,39353,85475,117961,118300,123472,117905,117906,290919,117908,1
1,17183,1540,117961,118343,123125,118536,118536,308574,118539,1
2,36724,14457,118219,118220,117884,117879,267952,19721,117880,1
3,36135,5396,117961,118343,119993,118321,240983,290919,118322,1
4,42680,5905,117929,117930,119569,119323,123932,19793,119325,1

In [10]:
cols=list(df.columns)
chisquare_results=pd.DataFrame() 
for i,j in enumerate(combinations(cols,2)):
    ct=pd.crosstab(df[j[0]],df[j[1]])
    chisquare=st.chi2_contingency(ct)
    chisquare_results.loc[i,'Col 1']=j[0]
    chisquare_results.loc[i,'Col 2']=j[1]
    chisquare_results.loc[i,'Chi2_stat']=chisquare[0]
    chisquare_results.loc[i,'p-value']=chisquare[1]
chisquare_results

               Col 1             Col 2     Chi2_stat        p-value
0           RESOURCE            MGR_ID  2.973736e+07   1.000000e+00
1           RESOURCE     ROLE_ROLLUP_1  1.494053e+06   0.000000e+00
2           RESOURCE     ROLE_ROLLUP_2  2.049964e+06   0.000000e+00
3           RESOURCE     ROLE_DEPTNAME  4.753591e+06   0.000000e+00
4           RESOURCE        ROLE_TITLE  2.705662e+06   0.000000e+00
5           RESOURCE  ROLE_FAMILY_DESC  1.494563e+07   1.000000e+00
6           RESOURCE       ROLE_FAMILY  6.644052e+05   0.000000e+00
7           RESOURCE         ROLE_CODE  2.705662e+06   0.000000e+00
8           RESOURCE            target  1.059530e+04  1.072253e-110
9             MGR_ID     ROLE_ROLLUP_1  3.688055e+06   0.000000e+00
10            MGR_ID     ROLE_ROLLUP_2  5.056340e+06   0.000000e+00
11            MGR_ID     ROLE_DEPTNAME  1.197538e+07   0.000000e+00
12            MGR_ID        ROLE_TITLE  6.831733e+06   0.000000e+00
13            MGR_ID  ROLE_FAMILY_DESC  3.953229e+07   0.000000e+00
14            MGR_ID       ROLE_FAMILY  1.603022e+06   0.000000e+00
15            MGR_ID         ROLE_CODE  6.831733e+06   0.000000e+00
16            MGR_ID            target  1.099620e+04   0.000000e+00
17     ROLE_ROLLUP_1     ROLE_ROLLUP_2  3.878165e+06   0.000000e+00
18     ROLE_ROLLUP_1     ROLE_DEPTNAME  7.237150e+05   0.000000e+00
19     ROLE_ROLLUP_1        ROLE_TITLE  3.891162e+05   0.000000e+00
20     ROLE_ROLLUP_1  ROLE_FAMILY_DESC  1.704949e+06   0.000000e+00
21     ROLE_ROLLUP_1       ROLE_FAMILY  1.413915e+05   0.000000e+00
22     ROLE_ROLLUP_1         ROLE_CODE  3.891162e+05   0.000000e+00
23     ROLE_ROLLUP_1            target  7.631017e+02   2.100501e-91
24     ROLE_ROLLUP_2     ROLE_DEPTNAME  1.177262e+06   0.000000e+00
25     ROLE_ROLLUP_2        ROLE_TITLE  5.078617e+05   0.000000e+00
26     ROLE_ROLLUP_2  ROLE_FAMILY_DESC  2.256764e+06   0.000000e+00
27     ROLE_ROLLUP_2       ROLE_FAMILY  1.916549e+05   0.000000e+00
28     ROLE_ROLLUP_2         ROLE_CODE  5.078617e+05   0.000000e+00
29     ROLE_ROLLUP_2            target  1.174191e+03  4.476985e-147
30     ROLE_DEPTNAME        ROLE_TITLE  1.788997e+06   0.000000e+00
31     ROLE_DEPTNAME  ROLE_FAMILY_DESC  6.171505e+06   0.000000e+00
32     ROLE_DEPTNAME       ROLE_FAMILY  7.618320e+05   0.000000e+00
33     ROLE_DEPTNAME         ROLE_CODE  1.788997e+06   0.000000e+00
34     ROLE_DEPTNAME            target  2.734618e+03   0.000000e+00
35        ROLE_TITLE  ROLE_FAMILY_DESC  7.984139e+06   0.000000e+00
36        ROLE_TITLE       ROLE_FAMILY  2.162754e+06   0.000000e+00
37        ROLE_TITLE         ROLE_CODE  1.120700e+07   0.000000e+00
38        ROLE_TITLE            target  1.422757e+03  1.468476e-131
39  ROLE_FAMILY_DESC       ROLE_FAMILY  1.943445e+06   0.000000e+00
40  ROLE_FAMILY_DESC         ROLE_CODE  7.984139e+06   0.000000e+00
41  ROLE_FAMILY_DESC            target  5.278849e+03  1.537016e-224
42       ROLE_FAMILY         ROLE_CODE  2.162754e+06   0.000000e+00
43       ROLE_FAMILY            target  5.557784e+02   1.415405e-78
44         ROLE_CODE            target  1.422757e+03  1.468476e-131

The above test shows that there are very few independent columns in our data set. This means most of the columns are dependent on another column in one way or the other. 

Resource and manager_id columns are independant of each other. Which means the resource requested doesnt have any dependace on the persons manager. But it is not independent of the other columns. But the target is not independent of manager_id. This leads us to speculate what effect managers have on access to resources

The target is not independent of any column. Which means most probably all the columns are significant predictors.

This means combinations of certian columns can be much more independent and effective predictor of the target and could be an option to eplore during feature engineering. We can come to this conclusion because the combination of two not independant columns could give us a column that could help predict the target well on its own. This with the rest of the data would work very well.